@import "tailwindcss";

@theme {
  --color-nexo-dark: #003D3B;
  --color-nexo-lime: #DAF928;
  --color-nexo-cyan: #00C2C0;

  --font-family-eastman: 'Eastman', sans-serif;
}

@font-face {
  font-family: 'Eastman';
  src: url('/fonts/Eastman-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eastman';
  src: url('/fonts/Eastman-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-family-eastman);
}
